<section id="photosView" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">Your Child's Photos</h5>
      <div class="row">
        <!-- Photos -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                                  <h4 class="card-title">Birthday</h4>
                                  <p class="card-text">This is basic Birthday card</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center col-xs-12 col-sm-6 col-md-4">
                                  <p><img class=" img-back" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        <!-- Photos -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                                <h4 class="card-title">Birthday</h4>
                                <p class="card-text">This is basic Birthday card</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center col-xs-12 col-sm-6 col-md-4">
                                <p><img class=" img-back" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Photos -->
        <!-- Photos -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                                <h4 class="card-title">Birthday</h4>
                                <p class="card-text">This is basic Birthday card</p>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center col-xs-12 col-sm-6 col-md-4">
                                <p><img class=" img-back" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Photos -->
      <!-- Photos -->
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                              <h4 class="card-title">Birthday</h4>
                              <p class="card-text">This is basic Birthday card</p>
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center col-xs-12 col-sm-6 col-md-4">
                              <p><img class=" img-back" src="https://designshop-6aa0.kxcdn.com/photos/dog-cake-happy-birthday-postcard-greeting-card-send-online-2637_57.jpg" alt="card image"></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <!-- Photos -->
      </div>
  </div>
</section>
<!-- Photos -->
