









<app-navbar></app-navbar>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-3">
            <div class="header-content mx-auto">
              <ul class="list-unstyled components">
                <li>Buscar por</li>
                <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">
                    <span class="glyphicon glyphicon-play"></span>
                    All<span class="selected"></span>
                </button>
                <button class="btn btn-lg btn-info" [class.active]="filterBy=='photos'" (click)="filterBy='photos'">
                    <span class="glyphicon glyphicon-play"></span>
                    Photos
                </button>
                <button class="btn btn-lg btn-info" [class.active]="filterBy=='videos'" (click)="filterBy='videos'">
                    <span class="glyphicon glyphicon-play"></span>
                    Videos
                </button>
            </ul>
            </div>
          </div>

          <div class="col-lg-9">  <ul id="thumnailslist">
            <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
                <a [routerLink]="['/image', image.id]">
                    <img src="{{image.url}}" class="tn" width="200" >
                </a>
            </li>
        </ul></div>

        </div>
      </div>
    </header>
