

<app-navbar></app-navbar>
<div class="h50"></div>

    <header class="masthead">

      <div class="container ">

        <div class="row" >
          <div class="col-lg-6"></div>
          <div class="col-lg-6 right p-5">


.
                <button class="btn btn-sm btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">

                    All<span class="selected"></span>
                </button>
                <button class="btn btn-sm btn-info " [class.active]="filterBy=='photos'" (click)="filterBy='photos'">

                    Photos
                </button>
                <button class="btn btn-sm btn-info" [class.active]="filterBy=='videos'" (click)="filterBy='videos'">

                    Videos
                </button>

            </div>
          </div>
          <div class="row">

          <div class="col-lg-12">
             <ul id="thumnailslist">
            <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
                <a [routerLink]="['/image', image.id]">
                    <img src="{{image.url}}" class="tn" width="200" >
                </a>
            </li>
        </ul></div>

        </div>
      </div>
    </header>
