<!--<div class="row">
    <div class="col text-center">
      <table align=center>
        <tr>
          <td><img src="./assets/images/logoSinTexto.jpg" height="80px"></td><td><h4>Formulario de ALTA en Kiddy Big Moments:</h4></td>
        </tr>
      </table>
    </div>
</div>

<br>-->

<!--<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <span>
      Bienvenid@ a la plataforma <strong>"Kiddy Big Moments"</strong>, para comenzar a formar parte de nuestra
      comunidad es necesario que te registres, <strong>sólo te llevará un par de minutos</strong>,
      rellena el formulario que aparece a continuación y listo.
    </span>
  </div>
  <div class="col-2"></div>
</div>

<br>-->

<!--<div class="row">
  <div class="col-2"></div>
  <div class="col-8">-->
    <form [formGroup]="registerForm" (ngSubmit)="addNewUser()">
      <div class="row">
        <!--<div class="col-1"></div>
        <div class="col-10">-->
          <!--<i class="fas fa-user"></i>--><label for="">Usuario:</label>
          <input type="text" class="form-control" placeholder="Nombre de Usuario" formControlName="username">
          <span class="alert alert-danger text-alert" *ngIf='registerForm.get("username").touched && registerForm.get("username").invalid'>
            Este campo es OBLIGATORIO
          </span>
        <!--</div>
        <div class="col-1"></div>-->
      </div>
      <br>
      <div class="row">
        <!--<div class="col-1"></div>
        <div class="col-10">-->
          <!--<i class="fas fa-key"></i>--><label for="">Password:</label>
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password1">
          <span class="alert alert-danger text-alert" *ngIf='registerForm.get("password1").touched && registerForm.get("password1").invalid'>
            Este campo es OBLIGATORIO
          </span>
        <!--</div>
        <div class="col-1"></div>-->
      </div>
      <br>
      <div class="row">
        <!--<div class="col-1"></div>
        <div class="col-10">-->
          <!--<i class="fas fa-address-book"></i>--><label for="">Nombre:</label>
          <input type="text" class="form-control" placeholder="Nombre" formControlName="first_name">
          <span class="alert alert-danger text-alert" *ngIf='registerForm.get("first_name").touched && registerForm.get("first_name").invalid'>
            Este campo es OBLIGATORIO
          </span>
        <!--</div>
        <div class="col-1"></div>-->
      </div>
      <br>
      <div class="row">
        <!--<div class="col-1"></div>
        <div class="col-10">-->
            <!--<i class="fas fa-address-book"></i>--><label for="">Apellidos:</label>
          <input type="text" class="form-control" placeholder="Apellidos" formControlName="last_name">
          <span class="alert alert-danger text-alert" *ngIf='registerForm.get("last_name").touched && registerForm.get("last_name").invalid'>
            Este campo es OBLIGATORIO
            </span>
        <!--</div>
        <div class="col-1"></div>-->
      </div>
      <br>
      <div class="row">
          <!--<div class="col-1"></div>
          <div class="col-10">-->
            <!--<i class="fas fa-envelope"></i>--><label for="">Email:</label>
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <span class="alert alert-danger text-alert" *ngIf='registerForm.get("email").touched && registerForm.get("email").invalid'>
                Este campo es OBLIGATORIO
            </span>
          <!--</div>
          <div class="col-1"></div>-->
      </div>
      <br>
      <div class="row">
        <div class="col text-center">
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Darse de Alta</button>
          <button type="reset" class="btn btn-primary">Borrar</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col text-center">
          <span class="warning-text text-center">
            <strong>¡¡IMPORTANTE!!</strong>: <strong>TODOS</strong> los campos del formulario son <strong>OBLIGATORIOS</strong>.
          </span>
          <span class="alert alert-danger text-alert" *ngIf='formError'>
            {{formError}}
          </span>
        </div>
      </div>
    </form>
  <!--</div>
  <div class="col-2"></div>
</div>-->

