  <div class=row>
    <span>
      Bienvenid@ a la plataforma <strong>"Kiddy Big Moments"</strong>, para comenzar a formar parte de nuestra
      comunidad es necesario que te registres, <strong>sólo te llevará un par de minutos</strong>,
      rellena el formulario que aparece a continuación y listo.
    </span>
  </div>
  <br>
  <form class="register-form" [formGroup]="newKidForm" (ngSubmit)="addNewKid()">
    <div class="row">
      <!--<i class="fas fa-user"></i>--><label> Nombre del Niñ@:</label>
      <input type="text" class="form-control" placeholder="nombre de tu hij@" formControlName="name">
      <span class="alert alert-danger text-alert form-control" *ngIf='newKidForm.get("name").touched && newKidForm.get("name").invalid'>
        Este campo es obligatorio.
      </span>
    </div>
    <br>
    <div class="row">
      <div class="col text-center">
        <button type="submit" [disabled]="newKidForm.invalid" class="btn btn-primary">Añadir</button>
        <button type="reset" class="btn btn-primary">Borrar</button>
      </div>
    </div>
  </form>






