<form [formGroup]='uploadForm' (ngSubmit)='uploadPhoto()'>
  <div class="row">
      <label for="">Título:</label>
      <input type="text" class="form-control" placeholder='Escribe un título para tu foto' formControlName='title'>
      <span class="alert alert-danger text-alert">
        Este campo es OBLIGATORIO
      </span>
  </div>
  <div class="row">
      <label for="">Descripción:</label>
      <input type="text" class="form-control" placeholder='Escribe una descripción para tu foto' formControlName='description'>
      <span class="alert alert-danger text-alert">
        Este campo es OBLIGATORIO
      </span>
  </div>
  <div class="row">
      <label for="">Imagen:</label>
      <input type="file" formControlName='image'>
  </div>
  <div class="row">
      <button type="submit" [disabled]="uploadForm.invalid" class="btn btn-primary">Subir</button>
  </div>
</form>
